body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(214, 214, 242), white);
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#characterscontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background-color: rgb(255, 253, 250);
    margin: 50px;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.button {
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.searchInput {
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.266);
    display: table;
    margin: 0 auto;
}